@{
    ViewData["Title"] = "Admin";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>RESTRINGIDO</h1>
            <hr />
            <hr />
            <section>
                <h2>¿Qué significa ser un administrador?</h2>
                <p>Un administrador es un usuario con permisos especiales para realizar tareas de mantenimiento y gestión en un sistema o aplicación. Estas tareas pueden incluir la creación de usuarios, la gestión de permisos y la solución de problemas técnicos.</p>
            </section>
            <hr />
            <section>
                <h2>¿Cómo puede obtener permisos de administrador?</h2>
                <p>En algunos sistemas, los permisos de administrador se otorgan automáticamente a ciertos usuarios. En otros, es necesario solicitar permisos de administrador a un administrador existente o al equipo de soporte técnico. Si necesita acceso de administrador, comuníquese con su administrador de sistema o el equipo de soporte técnico correspondiente.</p>
            </section>
            <hr />
            <section>
                <h2>¿Qué puede hacer mientras espera los permisos de administrador?</h2>
                <p>Aunque no tenga permisos de administrador, es posible que aún pueda realizar algunas tareas en el sistema o la aplicación. Verifique si hay funciones de usuario regulares que le permitan realizar algunas de las tareas que necesita. Si no hay una solución alternativa, comuníquese con su administrador de sistema o el equipo de soporte técnico correspondiente para obtener ayuda.</p>
            </section>
        </div>
    </div>
</div>


<style>
       /* Font styles */
    body {
        font-family: 'Open Sans', sans-serif;
        margin: 0;
        padding: 0;
    }

    h1 {
        color: #555555;
        font-size: 48px;
        font-weight: 700;
        margin: 0;
        padding-bottom: 20px;
    }

    h2 {
        color: #333333;
        font-size: 36px;
        font-weight: 700;
        margin-top: 40px;
    }

    p {
        color: #777777;
        font-size: 22px;
        line-height: 1.5;
        margin-top: 20px;
    }

    /* Section styles */
    section {
        margin-top: 80px;
    }

    /* Container styles */
    .container {
        max-width: 960px;
        margin-top: 20px;
        padding: 40px;
        background-color: #FFFFFF;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
    }
    
</style>
